.section
    h4
        - let link = `/posts/${post.id}/`;
        a(href=link)=post.title
    - let userbox = post.author
    include userbox.pug
    p.postcomments #{post.created} » #{post.commentcount} #[img(src="/ico/comment.png" width="12" height="12")]
    - let postpreview = `${post.body.substring(0, 100)}${(post.body.length > 100) ? "..." : ""}`;
    p.postpreview  #{postpreview}