p
    - let userboxlink = `/users/${userbox.id}/`
    a(href=userboxlink)
        if userbox.avatar
            - let userboxavatarlink = `/files/${userbox.avatar}`
            img(src=userboxavatarlink width="32" height="32")
        i(class="userboxname")=userbox.username