p
    - let userboxlink = `/users/${userbox.id}/`
    a(href=userboxlink)
        - let userboxavatarlink = "/ico/defaultuser.png";
        if userbox.avatar
            - userboxavatarlink = `/files/${userbox.avatar}`
        .userboxavatarbox
            img(class="avatar userboxavatar" src=userboxavatarlink width="32" height="32")
            i &nbsp;#{userbox.username}