html
    head
        include includes/head.pug
    body
        include includes/header.pug
        h2=fpost.title
        p
            i
                - let userlink = `/users/${fpost.author.id}/`
                a(href=userlink class="postauthor") by #{fpost.author.username}
        p
            pre.postcontents=fpost.body
        p
            if(fpost.attachment)
                - let alink = `/files/${fpost.attachment}`
                a(href=alink) attachment